Repository Rafiklab24/loyal-supplychain: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "app/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "vibe/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

fix: add missing xlsx dependency for Excel export
  app/package-lock.json
  app/package.json
Due: prettier --write

fix: skip tsc strict checking for production build
  vibe/package.json
  vibe/tsconfig.app.json
Due: prettier --write

fix: sync package-lock.json with package.json for DigitalOcean build
  vibe/package-lock.json
Due: prettier --write

fix: add xlsx dependency and remove duplicate object keys for DigitalOcean build
  vibe/package-lock.json
  vibe/package.json
  vibe/src/components/shipments/EditShipmentWizard.tsx
Due: eslint --fix, prettier --write

fix: add SSL configuration for DigitalOcean managed database connection
  app/src/db/client.ts
Due: eslint --fix, prettier --write

fix: improve SSL detection - enable for all non-local databases
  app/src/db/client.ts
Due: eslint --fix, prettier --write

feat: add production Docker deployment with Caddy for automatic HTTPS
  Caddyfile
  Dockerfile.frontend
  app/src/db/client.ts
  docker-compose.production.yml
  docs/DOCKER_DEPLOYMENT.md
Due: eslint --fix, prettier --write

fix: add nginx.conf and simplify Dockerfile.frontend
  Dockerfile.frontend
  vibe/nginx.conf
Due: none

fix: add trust proxy and increase rate limits for production
  app/src/config/constants.ts
  app/src/index.ts
Due: eslint --fix, prettier --write

fix: add uploads volume and OpenAI env vars to docker-compose.production.yml
  app/src/routes/efatura.ts
  docker-compose.production.yml
Due: eslint --fix, prettier --write

fix: add poppler-utils to Docker image for PDF conversion
  Dockerfile
Due: none

fix: add 2-minute timeout for AI extraction endpoint
  app/src/routes/contracts.ts
Due: eslint --fix, prettier --write

docs: add DigitalOcean deployment documentation to MASTER_CONTEXT
  MASTER_CONTEXT.md
Due: prettier --write

feat: Allow Exec users to be branch-restricted
  MASTER_CONTEXT.md
  app/src/middleware/branchFilter.ts
  app/src/middleware/permissions.ts
  app/src/routes/auth.ts
  vibe/src/components/users/BranchAssignmentModal.tsx
  vibe/src/contexts/PermissionContext.tsx
Due: eslint --fix, prettier --write

feat: Add per-user UI preferences system with Turkish customs columns
  app/src/routes/auth.ts
  app/src/routes/shipments.ts
  vibe/src/components/dashboard/AdminExecDashboard.tsx
  vibe/src/components/shipments/wizard/SellingCostsSection.tsx
  vibe/src/components/shipments/wizard/types.ts
  vibe/src/hooks/useUserPreferences.ts
  vibe/src/pages/ShipmentsPage.tsx
  vibe/src/pages/UsersPage.tsx
Due: eslint --fix, prettier --write

fix: Add click handler to shipment table rows for navigation
  vibe/src/pages/ShipmentsPage.tsx
Due: eslint --fix, prettier --write

fix: Change total_price column label to Real Price (السعر الحقيقي)
  vibe/src/pages/ShipmentsPage.tsx
Due: eslint --fix, prettier --write

fix: Extract country_of_origin from shipment lines for origin column
  vibe/src/pages/ShipmentsPage.tsx
Due: eslint --fix, prettier --write

fix: Rename price_per_ton column to Real Price and update column order
  vibe/src/pages/ShipmentsPage.tsx
Due: eslint --fix, prettier --write

fix: Change total_price column label back to Total (الإجمالي)
  vibe/src/pages/ShipmentsPage.tsx
Due: eslint --fix, prettier --write

feat: Color code Real Price (green) and Paper Price (blue), translate ETA to Arabic
  vibe/src/pages/ShipmentsPage.tsx
Due: eslint --fix, prettier --write

fix: Add document_count to shipment API and improve cache invalidation
  app/src/routes/shipments.ts
  vibe/src/pages/ShipmentFinalReport.tsx
Due: eslint --fix, prettier --write

fix: Sync weight_ton from shipment_lines.quantity_mt
  app/src/db/migrations/154_fix_weight_ton_from_lines.sql
Due: none

fix: Add transport_cost_responsibility to EditShipmentWizard
  vibe/src/components/shipments/EditShipmentWizard.tsx
Due: eslint --fix, prettier --write

Fix document upload path in Docker: resolve to /app/storage instead of /storage
  app/src/index.ts
  app/src/middleware/branchFilter.ts
  app/src/middleware/permissions.ts
  app/src/routes/antrepo.ts
  app/src/routes/inventory.ts
  app/src/routes/shipments.ts
  app/src/services/fileStorage.ts
  app/src/validators/antrepo.ts
  docs/ANTREPO_SYSTEM.md
  vibe/src/App.tsx
  vibe/src/components/antrepo/AntrepoEntryModal.tsx
  vibe/src/components/antrepo/AntrepoExitModal.tsx
  vibe/src/components/antrepo/AntrepoHandlingModal.tsx
  vibe/src/components/antrepo/index.ts
  vibe/src/components/layout/Sidebar.tsx
  vibe/src/components/shipments/wizard/types.ts
  vibe/src/contexts/PermissionContext.tsx
  vibe/src/hooks/useAntrepo.ts
  vibe/src/i18n/ar.json
  vibe/src/i18n/en.json
  vibe/src/pages/AntrepoDashboardPage.tsx
  vibe/src/pages/AntrepoLotsPage.tsx
  vibe/src/pages/InventoryDashboardPage.tsx
  vibe/src/services/antrepo.ts
  vibe/src/services/documents.ts
  vibe/src/services/inventory.ts
  vibe/src/types/api.ts
Due: eslint --fix, prettier --write

Add migration 143: selling_status and transport_mode columns for shipments
  MASTER_CONTEXT.md
Due: prettier --write

Add country autocomplete support to shipments API
  app/src/routes/shipments.ts
Due: eslint --fix, prettier --write

fix: Add 2-minute timeout to AI extraction endpoints (extract-from-ci, extract-from-bol)
  app/src/middleware/timeout.ts
  app/src/routes/shipments.ts
  app/src/services/documentExtraction.ts
Due: eslint --fix, prettier --write

Add Final Destination column to shipment tracking interface
  vibe/src/pages/ShipmentTrackingPage.tsx
Due: eslint --fix, prettier --write

Fix sorting in shipment tracking - use client-side sorting for all columns
  vibe/src/pages/ShipmentTrackingPage.tsx
Due: eslint --fix, prettier --write

feat(tracking): add Edit Mode for batch ETA updates
  vibe/src/pages/ShipmentTrackingPage.tsx
Due: eslint --fix, prettier --write

feat(tracking): make table compact to fit 1920x1080 screens
  vibe/src/pages/ShipmentTrackingPage.tsx
Due: eslint --fix, prettier --write

fix(tracking): restore full status labels, keep container column compact
  vibe/src/pages/ShipmentTrackingPage.tsx
Due: eslint --fix, prettier --write

feat(tracking): show 2 lines for product name + tooltip on hover
  vibe/src/pages/ShipmentTrackingPage.tsx
Due: eslint --fix, prettier --write

feat(tracking): move pagination to top left of table
  vibe/src/pages/ShipmentTrackingPage.tsx
Due: eslint --fix, prettier --write

fix(tracking): pagination always on visual left + add bottom pagination
  vibe/src/pages/ShipmentTrackingPage.tsx
Due: eslint --fix, prettier --write

feat(tracking): persist page, tab, and filters in URL for browser back support
  vibe/src/pages/ShipmentTrackingPage.tsx
Due: eslint --fix, prettier --write

fix(contracts): Show helpful error message on 409 conflict
  app/src/routes/ellecleme.ts
  app/src/validators/ellecleme.ts
  vibe/src/components/contracts/wizard/ContractWizard.tsx
  vibe/src/components/ellecleme/ElleclemeExecutionForm.tsx
  vibe/src/components/ellecleme/ElleclemeRequestModal.tsx
  vibe/src/components/ellecleme/InlinePhotoUpload.tsx
  vibe/src/components/ellecleme/PackagingDetailsSection.tsx
  vibe/src/components/shipments/wizard/Step2ProductLines.tsx
  vibe/src/i18n/ar.json
  vibe/src/i18n/en.json
  vibe/src/i18n/locales/ar/ellecleme.json
  vibe/src/i18n/locales/en/ellecleme.json
  vibe/src/i18n/locales/tr/ellecleme.json
  vibe/src/i18n/tr.json
  vibe/src/services/ellecleme.ts
Due: eslint --fix, prettier --write

docs: Add session log for contract wizard 409 error fix
  MASTER_CONTEXT.md
Due: prettier --write
